<%= form_for @user do |f| %>
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username, placeholder:"Username here:" %>
  <br>
  <%= f.label :email, "E-mail:" %>
  <%= f.email_field :email, placeholder:"example@example.com" %>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password, placeholder:"12345" %>
  <br>
  <br>
  <%= f.submit %>
<% end %>

<!-- <%= form_tag("/users", method: "POST") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <br>
  <%= label_tag(:email, "E-mail:") %>
  <%= email_field_tag(:email) %>
  <br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <br>
  <br>
  <%= submit_tag("Create user") %>
<% end %>
-->

<!-- <form action="/users/" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]">
  <br>
  <label for="user[email]">Email:</label>
  <input type="email" name="user[email]">
  <br>
  <label for="user[password]">Password:</label>
  <input type="password" name="user[password]">

  <hr>
  <input type="submit" value="Create User">
</form>
-->